<h1>All Venues <a href='/venue/new'>New</a></h1> 

<div>
    {{#each Venue}}
        <div>name: {{this.name}} </div>
        <div>city: {{this.city}} </div>
        <div>age range: {{this.age_range}}</div>

    {{/each}}

</div>