<h1>New Attraction</h1>

<form action='/attractions' method="POST">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="description" placeholder="Description"><br>
  <input type="number" name="price" placeholder="Price"><br>
  <input type="submit" value="Create New Attraction">
  <br>
</form>
  <a href='/venues/{{venueId}}/attractions'>Go Back to Attractions</a>
