<body Id="House">
<h2>Create New Attraction</h2>

<form action='/venues/{{venueId}}/attractions' method="POST">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="description" placeholder="Description"><br>
  <br>
  <input type="submit" value="CREATE Attraction" class="add">
  <br>
  <br>
  <div> <a href='/venues/{{venueId}}/attractions' class="effect">Return to Attractions</a></div>

</form>
</body>