<h1>Create New Attraction</h1>

<form action='/venues/{{venueId}}/attractions' method="POST">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="description" placeholder="Description"><br>
  <input type="number" name="price" placeholder="Price"><br>
  <br>
  <input type="submit" value="CREATE Attraction" class="button">
  <br>
  <br>
  <div> <a href='/venues/{{venueId}}/attractions'class="effect">Return to Attractions</a></div>

</form>
