<h2>Cast of {{attraction.name}}|| <a href="/venues/{{venue._id}}/attractions/new">NEW</a></h2> 

<div>
    {{#each attraction.cast}}
        <br>
        <br>
        <br>
    {{/each}}
<br>
<a href='/venues/{{venue._id}}/attraction'>Return to Attraction Page</a>

</div>