<h2>Create New Cast</h2>

<form action='/venues/{{venueId}}/attractions/{{attractionId}}/casts' method="POST">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="horror movie" placeholder="Favorite Horror Movie"><br>
  <input type="number" name="experience" placeholder="Years Scarying"><br>
  <input type="text" name="costume" placeholder="Costume"><br>

  <br>
  <input type="submit" value="CREATE Cast">
  <br>
  <br>
  <div> <a href='/venues/{{venueId}}/attractions/{{attractionId}}/casts' class="effect">Return to Cast</a></div>

</form>