<!DOCTYPE html>
<html>
  <head>
    <title>Huant App</title>
    <link href="https://fonts.googleapis.com/css?family=Denk+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    

    {{{body}}}

  </body>
  <footer>
        <h4>Not responsible for the scares and nightmares you may suffer. Attend events at your own risk and be prepared for thrills with your crew.</h4>
  </footer>
</html>
    
