<!DOCTYPE html>
<html>
  <head>
    <title>Huant App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Haunt: Find Your Next Scare! </h1>

    {{{body}}}

    <h4>Not responsible for the scares and nightmares you may suffer. Attend events at your own risk and be prepared for thrills with your crew.</h4>
  </body>
</html>
    
