html {
  min-width: 100%;
  min-height: 100%;
  background-color: black;
}

body {  
  padding: 40px;
  font-family: 'Denk One', cursive;
  color: lightslategray; 
}

h1 {
  color: rgba(255, 0, 0, 1);
  text-shadow: 0 0 100px rgb(164, 86, 236);
  font-family: 'Creepster', sans-serif;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 5.2em; 
  margin: 20px;
  padding: 0 20px;
  text-align: center;
}

h1, h2 {
  animation: glow 2s linear infinite alternate-reverse; 
}

@keyframes glow {
  to {
      text-shadow: 0 0 200px rgba(158, 61, 255, 0.952);
  }
}

h2 {
  color: rgba(255, 0, 0, 1);
  text-shadow: 0 0 40px rgb(166, 87, 240);
  font-family: 'Denk One', sans-serif;
  letter-spacing: 4px;
  font-size: 4em; 
  text-align: center;
}

a {
  color: rgba(33, 214, 26, 0.801);
  text-shadow: 0 0 45px rgba(69, 92, 196, 0.89);
  letter-spacing: 3px;
  font-size: 2.25em;
  
}

p {
  font-size: 35px;
  color: rgba(207, 145, 29, 0.849);
  text-shadow: 0 0 100px rgb(206, 150, 87);
  letter-spacing: 2px;
  text-align: center;
}


.effect:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 20%, #000 50%, rgba(0,0,0,.6) 80%);
  -webkit-mask-size: 200%;
  animation: shine 1s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

 form {
  text-align: center;
 }

 input {
   width: 50%;
   height: 35px;
   margin: 5px;
   font-size: 15px;
   padding: 5px;
 }

 .add {
   width: 30%;
   height: 40px;
   color:red;
 }


 .delete {
   background: red;
   color: rgb(0, 0, 0);
   width: 10%;
   text-align: right;
   
 }

 footer {
   text-align: center;
   letter-spacing: 1.5px;
   font-size: 22px;
   text-shadow: 0 0 1px rgba(0, 0, 0, 0.849);
 }
