<h1>Edit Venue</h1>

<form action='/venues/{{venues._id}}?_method=PUT' method='PUT'>
    <div>Name: <input type='text' name='name' value='{{Venues.name}}'></div>
    <div>City: <input type='text' name='city' value='{{Venues.city}}'></div>
    <div>Age: <input type='text' name='age' value='{{Venues.age}}'></div>
    <div><input type='submit' value='Update Edited Venue'></div>
</form>