<h1>All Venues <a href='/venues/new'>New</a></h1> 

<div>
    {{#each Venues}}
        <div>name: {{this.name}} <a href='/venues/{{this._id}}'>Go to Venue</a>  </div>
        <div>city: {{this.city}} </div>
        <div>age: {{this.age}}</div>
        <div></div>
        <br>
    {{/each}}

</div>