<h1>Welcome to Haunt</h1>
<h2>All Venues || <a href='/venues/new'>New</a></h2>

<div>
    {{#each Venues}}
        <div>Enter <a href='/venues/{{this._id}}'>{{this.name}}</a>  </div>
        <br>
    {{/each}}

    <div> <a href='/venues/animation'>Fun</a></div>

</div>


