<h1>All VENUES || <a href='/venues/new'>NEW</a></h1> 

<div>
    {{#each Venues}}
        <div>Enter <a href='/venues/{{this._id}}'>{{this.name}}</a>  </div>
        {{!-- <div>city: {{this.city}} </div>
        <div>age: {{this.age}}</div>
        <div></div> --}}
        <br>
    {{/each}}

</div>


