<body Id="Myers">

    <div class='box'>
        <h1>Welcome to Haunt</h1>
    </div>

    <h2>All Venues</h2>
    <br>


    <div>
        {{#each Venues}}
        <div> Enter <a href='/venues/{{this._id}}' class="effect">{{this.name}}</a> </div>
        <br>
        {{/each}}

        <div><a href='/venues/new' class="effect" class="new">New</a></div>
        <br>
    </div>
</body>