<h1>New Venue</h1>

<form action='/venues' method="POST">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="city" placeholder="City"><br>
  <input type="number" name="age" placeholder="Age"><br>
  <input type="submit" value="Create New Venue">
  <br>
  <a href='/venues'>Return to Venues</a>
</form>